<% @houses.each do |house| %>
	<div id="house_index_list" class="<%= cycle('list-line-odd', 'list-line-even') %>">
		
		<div id="main_images">
			<ul id="house_numbers">
				<li>Floor: <%=h house.floor_area %>sqm</li>
 		    <li>Lot: <%=h house.lot_area %>sqm</li>
	 		  <li>Bedrooms: <%=h house.bedrooms %></li>
	 		  <li>Bathrooms: <%=h house.bathrooms %></li>   
	    </ul>
	
			<% for photo in house.photos %>
      	<%= lightbox_to photo.data.url(:normal), photo.data.url(:large), "GoldHouse", "photo" %>
      <% end -%>
			<!-- <%= link_to image_tag(house.image.url(:thumb)), house %> -->
		
		<!-- End #main_images --></div>
		
		<div id="headers">
    	<h3>
				<%= link_to house.title, house %>
				<% if house.term.name = "For Sale" %>
					<%= image_tag "for_sale_icon.png" %>
				<% end -%>
			</h3>
		  <%=h house.location.name %>
		  <h4 class="price"> <%=h number_to_currency(house.price, :unit => "PHP ", :separator => ".", :delimiter => "," )%>  <%=h house.payment %></h4>
		<!-- END #headers--></div>
		
		<div id="teaser">
		  <p><%=h truncate(house.teaser.gsub(/<.*?>/,''), :length => 300) %></p>
		<!-- END #teaser--></div>
		
		<div class="clear"></div>
		
		    
		    
		        
      <% if admin? %>
        <p><%= link_to 'Edit', edit_house_path(house) %> | <%= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete %></td>
	    <% end %>
	    
      <!-- END #house_index_list --></div>
    <% end %>
