<h2>All houses for sale</h2>
  <% if admin? %>
		<%= link_to 'New house', new_house_path %>
	<% end %>
	
  <% @houses.each do |house| %>
    <div id="house_index_list" class="<%= cycle('list-line-odd', 'list-line-even') %>">
		  <div id="main_image">
		    <%= link_to image_tag(house.image.url(:thumb)), house %>
		  </div>
      <h3><%= link_to house.title, house %></h3>
		  <p><%=h house.location.location %></p>
		  <p><%=h house.term.terms %></p>
		  <h4 class="price"> <%=h number_to_currency(house.price, :unit => "PHP ", :separator => ".", :delimiter => "," )%>  <%=h house.payment %></h4>
		  <p><%=h truncate(house.teaser.gsub(/<.*?>/,''), :length => 300) %></p>
		    
		    <ul id="house_numbers">
	   		    <li>Bedrooms: <%=h house.bedrooms %></li>
	   		    <li>Bathrooms: <%=h house.bathrooms %></li>
	   		    <li>Maidsrooms: <%=h house.maidsrooms %></li>
	   		    <li>Floor Area: <%=h house.floor_area %> sqm</li>
	   		    <li>Lot Area: <%=h house.lot_area %> sqm</li>
		    </ul>
		        
      <% if admin? %>
        <p><%= link_to 'Edit', edit_house_path(house) %> | <%= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete %></td>
	    <% end %>
	    
      <!-- END #house_index_list --></div>
    <% end %>
