<p>
  <b>Title:</b>
  <%=h @house.title %>
</p>

<p>
  <b>Teaser:</b>
  <%=h @house.teaser %>
</p>

<p>
  <b>Price:</b>
  <%=h @house.price %>
</p>

<p>
  <b>Description:</b>
  <%=h @house.description %>
</p>

<p>
  <b>Bedrooms:</b>
  <%=h @house.bedrooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%=h @house.bathrooms %>
</p>

<p>
  <b>Maidsrooms:</b>
  <%=h @house.maidsrooms %>
</p>

<p>
  <b>Floor area:</b>
  <%=h @house.floor_area %>
</p>

<p>
  <b>Lot area:</b>
  <%=h @house.lot_area %>
</p>

<p>
  <b>Payment:</b>
  <%=h @house.payment %>
</p>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>