<div id="house_show">

    
    <div id="main_image">
	    <%= lightbox_to @house.image.url(:thumb), @house.image.url(:large) %>
	<!-- END #main_image --></div>
	
	<h3><%=h @house.title %></h3>
	<p><%= @house.location.location %></p>
	<p><%= @house.term.terms %></p>
	<h4 class="price"> <%=h number_to_currency(@house.price, :unit => "PHP ", :delimiter => "," )%>  <%=h @house.payment %></h4>
	
	<div id="show_teaser">
	    <p><%=h @house.teaser %></p>
	</div>
	
	<div id="show_description">
	    <p><%=h @house.description %></p>
	</div>
	
	<ul id="house_numbers">
	   	<li>Bedrooms: <%=h @house.bedrooms %></li>
	   	<li>Bathrooms: <%=h @house.bathrooms %></li>
	   	<li>Maidsrooms: <%=h @house.maidsrooms %></li>
	   	<li>Floor Area: <%=h @house.floor_area %> sqm</li>
	   	<li>Lot Area: <%=h @house.lot_area %> sqm</li>
	</ul>
	
	<div id="image_rack">
	    <% for photo in @house.photos %>
            <%= lightbox_to photo.data.url(:thumb), photo.data.url(:large), "GoldHouse", "photo" %>
        <% end -%>
    
	    <%= load_lightbox %>   
	</div>
	
	   
<% if admin? %>
	<%= link_to 'Edit', edit_house_path(@house) %> |
	<%= link_to 'Back', houses_path %>
<% end %>


<!-- END #house_show --></div>

