<h2>All current terms</h2>

<ul>
<% @terms.each do |term| %>
  
   	<li><%=h term.name %>
    	<small><%= link_to 'Show', term %>
  	 	<%= link_to 'Edit', edit_term_path(term) %>
  		<%= link_to 'Destroy', term, :confirm => 'Are you sure?', :method => :delete %></small>
	</li>
 
<% end %>
</ul>

<br />

<%= link_to 'New term', new_term_path %>
