<h2>All current locations</h2>


<ul>
<% @locations.each do |location| %>
  
   <li><%=h location.name %>
    <small><%= link_to 'Show', location %>
    <%= link_to 'Edit', edit_location_path(location) %>
  	<%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></small>
  
<% end %>
</ul>


<br />

<%= link_to 'New location', new_location_path %>
