<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title>goldhouse <%= controller.action_name %></title>
		<%= stylesheet_link_tag 'styles' %>
		<%= javascript_include_tag 'prototype.js' %>
		<%= javascript_include_tag :defaults %> 
     <%= yield :page_includes %>
	</head>

<body>
	<div id="wrapper">
		<div id="banner">
			<div id="navigation">
				<ul>
		    	<li><%= link_to_unless_current 'Home', houses_path %></li>
					<% if admin? %>
						<li><%= link_to 'New house', new_house_path %></li>
		        <li><%= link_to_unless_current 'Locations', locations_path %></li>
		        <li><%= link_to_unless_current 'Terms', terms_path %></li>
					<% end %>
				</ul>
			<!-- END #navigation --> </div>
		<!-- END #banner --></div>	
			

        <!-- notifications -->
		<% unless flash[:notice].blank? %>
			<div id="notification"><%= flash[:notice] %></div>
		<% end %>
		<% unless flash[:error].blank? %>
			<div id="error"><%= flash[:error] %></div>
		<% end %>
	    <!-- END notifications -->


		<%= yield %>

	<!-- END #wrapper --></div>
</body>
</html>


